@model ElectronicComponentInventorySystem.UI.Models.ElectronicComponentsModel

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/addPartForm.css" />
</head>
<div class="text-center">
    <br>
    <h3>Add Part</h3>
    <br />
</div>
@using (Html.BeginForm("ModifyViewData", "Home", FormMethod.Post))
{
<div class="mt-4 p-5">
    <div class="form-group row">
        <label asp-for="Name" class="col-md-2 col-form-label">Component:</label>
        <div class="col-sm-10">
            <input asp-for="Name" type="text" class="input-group" required>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Description" class="col-md-2 col-form-label">Description:</label>
        <div class="col-sm-10">
            <input asp-for="Description" type="text" class="input-group">
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="CategoryId" class="col-md-2 col-form-label">Category:</label>
        <div class="col-sm-10">
            <select asp-for="CategoryId" asp-items="Model.Categories.Select(x => new SelectListItem(x.Name, x.Id.ToString()))" class="input-group">
                <option value="" selected="selected"></option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="StorageLocationId" class="col-md-2 col-form-label">Storage Location:</label>
        <div class="col-sm-10">
            <select asp-for="StorageLocationId" asp-items="Model.StorageLocations.Select(x => new SelectListItem(x.Name, x.Id.ToString()))" class="input-group" required>
                <option value="" selected="selected"></option>
            </select>
        </div>
    </div>
    <div class="form-group row">
            <label asp-for="FootprintId" class="col-md-2 col-form-label">Footprint:</label>
            <div class="row">
                <div class="col-md">
                    &nbsp;&nbsp;&nbsp;
                    <input asp-for="FootprintId" type="radio" name="radioFootprint" value="option1" />
                    <label for="radioFootprint">
                        None
                    </label>
                </div>
                <div class="col-md">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input asp-for="FootprintId" type="radio" aria-label="Radio button for following text input" name="radioFootprint" value="option0" />
                            </div>
                        </div>
                        <select asp-for="FootprintId" asp-items="Model.Footprints.Select(x => new SelectListItem(x.Name, x.Id.ToString()))" class="col">
                            <option value="" selected="selected"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    <div class="form-group row">
        <label asp-for="StockLevel" class="col-md-2 col-form-label">Stock Level:</label>
        <div class="col-sm-3">
            <input asp-for="StockLevel" type="number" min="0" max="100" class="input-group">
        </div>
        <label asp-for="StockUser" class="col-md-2 col-form-label">Stock User:</label>
        <div class="col-sm-5">
            <input asp-for="StockUser" type="text" class="input-group" placeholder="admin">
        </div>
    </div>
</div>
    <button id="SaveButtonId" type="submit" class="btn btn-success">Save</button>
    <button id="CancelButtonId" type="button" class="btn btn-outline-secondary">Cancel</button>
}
    <br>
    <br>
    <h5>Add an Additional</h5>
    <button class="accordion">Category</button>
    <div class="panel">
        <div class="col-md">
            @using (Html.BeginForm("AddNewCategory", "Clasificator", FormMethod.Post))
            {
                <input name="Name" type="text" class="input-group">
                <button type="submit" class="btn btn-success">Save</button>
            }
        </div>
    </div>
    <button class="accordion">Storage Location</button>
    <div class="panel">
        <div class="col-md">
            @using (Html.BeginForm("AddNewStorageLocation", "Clasificator", FormMethod.Post))
            {
                <input name="Name" type="text" class="input-group" required>
                <button type="submit" class="btn btn-success">Save</button>
            }
        </div>
    </div>
    <button class="accordion">Footprint</button>
    <div class="panel">
        <div class="col-md">
            @using (Html.BeginForm("AddNewFootprint", "Clasificator", FormMethod.Post))
            {
                <input name="Name" type="text" class="input-group">
                <button type="submit" class="btn btn-success">Save</button>
            }
        </div>
    </div>


