@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br>
    <h3>Add Part</h3>
</div>
    @using (Html.BeginForm("ModifyViewData", "Home", FormMethod.Post))
    {
    <div class="jumbotron">
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Electronic Component:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="component" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label">Description:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="description">
            </div>
        </div>
        <div class="form-group row">
            <label for="categorySelect" class="col-sm-2 col-form-label">Category:</label>
            <div class="col-sm-10">
                <div class="col-sm-10">
                    <input class="form-check-input" type="radio" name="radioCategory" id="radios1" value="option1">
                    <label class="form-check-label" for="exampleRadios1">
                        Choose existing:
                    </label>
                    <select class="form-control" id="categorySelect">
                        <option value="" selected="selected"></option>
                        <option value="1">Active Components</option>
                        <option value="2">Passive Components</option>
                        <option value="3">Electromechanical Parts</option>
                        <option value="4">Mechanical Parts</option>
                        <option value="5">Cables</option>
                        <option value="6">Speakers and Buzzers</option>
                        <option value="7">V Modules</option>
                        <option value="8">W PC Accessories</option>
                        <option value="9">X PCB Material</option>
                        <option value="10">Y Other Stuff</option>
                        <option value="11">Z Cooking</option>
                        <option value="12">Z Projects</option>
                    </select>
                </div>
                <div class="col-sm-10">
                    <input class="form-check-input" type="radio" name="radioCategory" id="radios1" value="option2">
                    <label class="form-check-label" for="exampleRadios1">
                        Add new:
                    </label>
                    <input type="text" class="form-control" id="categorySelect">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="storageLocation" class="col-sm-2 col-form-label">Storage Location:</label>
            <div class="col-sm-10">
                <div class="col-sm-10">
                    <input class="form-check-input" type="radio" name="radioStorage" id="radios2" value="option1" checked required>
                    <label class="form-check-label" for="exampleRadios2">
                        Choose existing:
                    </label>
                    <select class="form-control" id="storageSelect">
                        <option value="" selected="selected"></option>
                        <option value="1">Box A</option>
                        <option value="2">Box B</option>
                    </select>
                </div>
                <div class="col-sm-10">
                    <input class="form-check-input" type="radio" name="radioStorage" id="radios2" value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        Add new:
                    </label>
                    <input type="text" class="form-control" id="categorySelect">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="footprint" class="col-sm-2 col-form-label">Footprint:</label>
            <div class="col-sm-10">
                <div class="col-sm-10">
                    <input class="form-check-input" type="radio" name="radioFootprint" id="radios2" value="option1">
                    <label class="form-check-label" for="exampleRadios2">
                        None
                    </label>
                </div>
                <div class="input-group-prepend">
                    <input type="radio" name="radioFootprint" id="radios2" value="option1">
                    <select class="form-control" id="footprintSelect">
                        <option value="" selected="selected"></option>
                        <option value="1">THT</option>
                        <option value="2">SMD</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="stockLevel" class="col-sm-2 col-form-label">Stock Level:</label>
            <div class="col-sm-3">
                <input type="number" min="0" max="100" class="form-control" id="stockLevel">
            </div>
            <label for="stockUser" class="col-sm-2 col-form-label">Stock User:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="stockUser" placeholder="admin">
            </div>
        </div>
    </div>
        <button input id="SaveButtonId" type="submit" class="btn btn-success">Save</button> <button input id="CancelButtonId" type="button" class="btn btn-outline-secondary">Cancel</button>
    }
