@model ElectronicComponentInventorySystem.UI.Models.ElectronicComponentsModel

@{
    ViewData["Title"] = "Parts Edit Form";
}

<h1>Edit</h1>

<h4>Electronic Components Model</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Electronic Component:</label>
                <input asp-for="Name" class="input-group" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Description:</label>
                <input asp-for="Description" class="input-group" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Category:</label>
                <select asp-for="CategoryId" asp-items="Model.Categories.Select(x => new SelectListItem(x.Name, x.Id.ToString()))" class="input-group">
                    <option value="" selected="selected"></option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StorageLocationId" class="control-label">Storage Location:</label>
                <select asp-for="StorageLocationId" asp-items="Model.StorageLocations.Select(x => new SelectListItem(x.Name, x.Id.ToString()))" class="input-group" required>
                    <option value="" selected="selected"></option>
                </select>
                <span asp-validation-for="StorageLocationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FootprintId" class="control-label">Footprint:</label>
                <div class="form-group">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="form-check-input" aria-label="Radio button for none value" name="radioFootprint" value="option1" />
                    <label for="radioFootprint">
                        None
                    </label>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input type="radio" aria-label="Radio button for following text input" name="radioFootprint" value="option0" />
                        </div>
                    </div>
                    <select asp-for="FootprintId" asp-items="Model.Footprints.Select(x => new SelectListItem(x.Name, x.Id.ToString()))" class="col">
                        <option value="" selected="selected"></option>
                    </select>
                </div>
                <span asp-validation-for="FootprintId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockLevel" class="control-label">Stock Level:</label>
                <input asp-for="StockLevel" class="input-group" type="number" min="0" max="100" />
                <span asp-validation-for="StockLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockUser" class="control-label">Stock User:</label>
                <input asp-for="StockUser" class="input-group" />
                <span asp-validation-for="StockUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ComponentList">Back to List</a>
</div>

