@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Electronic Component Inventory Management System</h1>
    <br>
    <br>
    <h3>MENU is under construction...</h3>
</div>
